body {
    background-color:black;
    color: #ffffff;
    font-family: arial;
    }

button {
    background-color: red;
    color: #ffffff;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
}

button:hover {
    background-color: whitesmoke;
    color: red;
    border: 1px solid rgb(45, 44, 44)

}
    
h1  {
    color: rgb(45, 46, 45);
    font-family: verdana;
    }

.maindiv {
    width: 500px;
    
    background-color: #ffffff;
    color: #000;
    padding: 25px;
    border-radius: 25px;
    margin: 30px auto;
}

label {
    display: inline-block;
    float: left;
    text-align: left;
    clear: left;
    width: 100px;
    
}

.result {
    margin-top: 20px;
    padding: 10px;
    
    box-shadow: rgb(152, 152, 152);
}


